@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    color: white;
    font-family: 'Comfortaa', Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
    margin: 1em;
    background-color: #1C1B17;
}

a {
    color: inherit;
    text-decoration: underline dotted 1px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(2n) {
    background-color: #ffffff05;
}

td, th {
    padding: 2px 1em;
}

td.align-right, th.align-right {
    text-align: right;
}

th {
    text-align: inherit;
    font-weight: inherit;
    white-space: nowrap;
    color: #E0D6B8;
    padding-bottom: 10px;
}

td.normal-wrap {
    word-break: break-all;
}

td:not(.normal-wrap) {
    white-space: nowrap;
}

footer {
    font-size: 14px;
    margin-top: 16px;
}

footer div {
    margin-top: 4px;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1em;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #2A2822;
    padding: 35px 50px;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1em;
    font-weight: bold;
    justify-content: space-between;
    padding-right: 2.5em;
}

.title span:first-child {
    background-color: #AC8F39;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: -0.02em;
}

.title span:first-child span {
    margin-left: 5px;
}

.title__last-update {
    color: #e0d6b85d;
    font-size: 14px;
}

.section {
    margin-top: 1.5em;
}

.section__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.7em;
    color: #E0D6B8;
}

.locale-menu {
    border-left: 1px solid white;
    padding-left: 1em;
}

.locale-menu__button {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    margin-top: 16px;
    text-decoration: underline dotted 1px;
    color: #E0D6B8;
}

.locale-menu__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
    color: #E0D6B8;
}

.locale-menu__item {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin-top: 4px;
    text-decoration: none;
}

.locale-menu__item--hidden {
    display: none;
}

.icon {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.icon-with-label {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.problem-count {
    color: hsl(calc(var(--count) / 560 * -120deg + 120deg), 70%, 50%);
    font-weight: bold;
}
